# Python cache
__pycache__/
*.py[cod]
*.pyo
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Archivos de salida de entrenamiento (se generan con modelo.py)
scatter_lineal.csv
scatter_poly2.csv
